---
import Base from '../layouts/Base.astro';
---

<Base>
  <h1 class="text-xl mb-12">Gayuru G</h1>

  <div class="space-y-4 mb-12 text-[--color-muted]">
    <p>I do product.</p>
    <p>I also can't stop designing + engineering.</p>
  </div>

  <div class="mb-12">
    <a href="mailto:hello@example.com">hello@example.com</a>
  </div>

  <nav class="flex gap-4 text-sm">
    <a href="/thoughts">thoughts</a>
    <span class="text-[--color-muted]">/</span>
    <a href="/now">now</a>
  </nav>
</Base>
